html, body {
    height: 100%;
    margin:0;
}

div {
    
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#kérdés_szöveg {
    display: flex;
    flex-direction: row;
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1 
}

#válaszok {
    flex-grow: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
}

.gomb {
    padding: 20px;
    width: 80px;
    cursor: pointer
}

.kattintható:hover {
    background-color: fuchsia;
    color: white;
    cursor: pointer
}
.kerdes {
    padding:10px;
}
.jó{
    color:white;
    background-color:lightgreen
}
.rossz {
    color: white;
    background-color: lightcoral
}
img{
    max-width:100%
}
body{
    background-color: lightcyan
}

